$blue-primary: #085696;

.page {
    max-width: 50rem; 

    .logo {
        width: 2rem;
        margin-right: 1em;
    }

    .title-text {
        font-size: 1rem;
        font-weight: 600;
    }

    &-control {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        button {
            border: 0;
            padding: 0.3em 0;
            line-height: 1;
            color: $blue-primary;
            border-bottom: 3px solid $blue-primary;
            background: inherit;

            &:hover {
                filter: brightness(0.5);
            }

            a {
                text-decoration: none;
                color: $blue-primary;
                font-size: 1.2rem;
                font-weight: bolder;
            }
        }
    }
}

.page-home {
    padding-top: 4em;
    padding-bottom: 4em;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;

    .home-title,
    .home-body {
        text-align: center;
    }

    .home-title h1 {
        font-size: 1.2rem;
        line-height: 1;
        letter-spacing: 0.01em;
        color: #000;
        margin-top: 1em;
    }

    .home-logo {
        max-width: 45%;
        margin: 0 auto;
    }

    .home-body {
        .quiz-info-text {
            font-size: 0.9rem;
            font-weight: 600;
            margin-bottom: 2em;
        }

        .challenge-text {
            font-size: 1.2rem;
            font-weight: 400;
            padding: 0.5em 0;
            border-radius: 0.8rem;
            background: $blue-primary;
            color: #fff;
            width: 60%;
            margin: 0 auto;
        }
    }
}

.page-quiz {
    .quiz-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            display: flex;
            align-items: center;
        }

        .progress-text {
            font-size: 0.8rem;
            font-weight: 600;
        }
    }

    .quiz-body {
        font-size: 2rem;
        text-align: center;

        .question {
            padding: 0 3rem;
        }
    }
}