html {
  font-family: 'Poppins', sans-serif;
}

body::before {
  content: "";
  position: fixed;
  background: #fff url("../images/bg.png");
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.card {
  max-width: 100%;
  border-radius: 0.5rem;
  background: #fff;
  padding: 2rem;
}