$button-success: #4fbd1b;
$button-danger: #e04e10;

html {
  font-family: 'Poppins', sans-serif;
}

body::before {
  content: "";
  position: fixed;
  background: #fff url("../images/bg.png");
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.card {
  max-width: 100%;
  border-radius: 0.5rem;
  background: #fff;
  padding: 2rem;

  &-header {
    padding: 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #e3e3e3
  }

  &-body {
    margin: 2em 0;
  }

  &-footer {
    padding: 0;
    padding-top: 1em;
    border-top: 1px solid #e3e3e3
  }

  &-control {
    display: flex;

    .btn {
      margin-right: 1em;
    }

  }

  &-control.justify-center {
    justify-content: center;
  }

  &-control.align-right {
    justify-content: flex-end;
  }
}

.btn {
  border: 0;
  border-radius: 0.3em;
  color: #000;
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 1rem ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;

  &:hover,
  &:focus {
    filter: brightness(0.9);
  }

  svg {
    line-height: 1;
    font-size: 1.2rem;
  }
}

.btn-admit,
.btn-deny {
  color: #fff;
}

.btn-admit {
  background: $button-success;
}

.btn-deny {
  background: $button-danger;
}